{
	"presets": [
		[
			"babel-preset-gatsby-package",
			{
				"browser": true,
				"targets": {
					"node": true
				}
			}
		],
		[
			"minify",
			{
				"builtIns": false,
				"evaluate": false,
				"mangle": false
			}
		]
	],
	"comments": false,
	"plugins": [
		"@babel/plugin-transform-runtime"
	],
	"only": [
		"src/",
		"tests/"
	],
	"ignore": [
		"node_modules/"
	]
}
